<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<h2 class="product_name"><%= @product.name %></h2>
<p class="product_price"><%= @product.price %></p>
<p class="product_description"><%= @product.description %></p>

<%= link_to 'Back', products_path %>
